body {
  background: #f2f2f2;
}

.content {
  position: relative;
  width: 500px;
  height: 300px; 
  margin: 0 0 20px 0; 
  border: solid 1px #999; 
  overflow-y: scroll;
  background: white;
  padding: 5px; 
}
  .content .notice {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #efe;
    width: 100%;
  }

input.field {
  width: 450px;
}

.message .name,
.message .text,
.message .time {
  float: left;
}

.message .name {
  padding-right: 5px;
}
.message .name:after {
  content: ':';
}
.message .text {
  /*
  position: relative;
  z-index: 10;
  background-color: white;
  */
}
.message .time {
  
  position: absolute;
  right:5px;
  
  color: #999;
}

/* from the html5boilerplate */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
