!!!
html
  head
    title='Real time web chat'
    link(rel='stylesheet', href='css/style.css')

  body
    .content
      .messages
      .notice
    .controls
      input.field
      input.send(type='button', value='send')

    button.enable-notifications Enable desktop notifications

    script(src='require.js')
    script(src='main.js')
