!!!
html
  head
    title= "Real time web chat"
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='/css/style.css')

  body
    .content
      .messages
      .notice
    .controls
      input.field
      input.send(type='button', value='send')

    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/chat.js')
