!!!
html
  head
    title='Real time web chat'
    link(rel='stylesheet', href='css/style.css')

  body
    .content
      .messages
      .notice
    .controls
      input.field
      input.send(type='button', value='send')

    script(src='scripts/lib/require.js')
    script(src='socket.io/socket.io.js')
    script(src='chat.js')
