!!!
html
  head
    title= "Real time web chat"
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='/css/style.css')

  body
    .content
    .controls
      input.field
      input.send(type='button', value='send')

    script(src='/chat.js')
